# ============================================================
# 🧠 Environment and Configuration
# ============================================================
.env
.env.*
!.env.docker

# ============================================================
# 🧰 IDEs, Editors, and Tools
# ============================================================
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
.phpactor.json
.phpunit.result.cache
.phpstorm.meta.php
/.docker/logs/

# ============================================================
# 🧩 Vendor & Node Dependencies
# ============================================================
/vendor/
/node_modules/
