# ----------------------------------------------------------------------------------
# YAML Anchors to remove duplication
# ----------------------------------------------------------------------------------
x-common-build: &common-build
  context: .
  args:
    DOCKER_SERVICES_PATH: ${DOCKER_SERVICES_PATH}
    USER_ID: ${LOCAL_UID:-1000}
    GROUP_ID: ${LOCAL_GID:-1000}

x-common-dir-work: &common-dir-work
  - type: bind
    source: .
    target: /var/www/

# ----------------------------------------------------------------------------------
# Volumes for persistence and communication
# ----------------------------------------------------------------------------------
volumes:
  php-fpm-socket:
  psysh-store:
  db_volume:
  redis_volume:

services:
  php:
    container_name: ${APP_NAME}_php
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/php/Dockerfile
    restart: unless-stopped
    tty: true
    volumes:
      - type: volume
        source: php-fpm-socket
        target: /var/run/php-fpm
        volume:
          nocopy: true
      - type: volume
        source: psysh-store
        target: /root/.config/psysh
        volume:
          nocopy: true
      - <<: *common-dir-work
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      DEBUG: 1
      PHP_IDE_CONFIG: serverName=${APP_NAME}_XdebugServer
      DUSK_HEADLESS_DISABLED: "true"
      APP_URL: "http://${DOCKER_WEB_NETWORK_IP_ADDRESS}"
      DUSK_DRIVER_URL: "http://${DOCKER_SELENIUM_NETWORK_IP_ADDRESS}:4444/wd/hub"
    depends_on:
      - database
      - redis
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_PHP_NETWORK_IP_ADDRESS}

  web:
    container_name: ${APP_NAME}_web
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/web/Dockerfile
    restart: unless-stopped
    tty: true
    volumes:
      - type: volume
        source: php-fpm-socket
        target: /var/run/php-fpm
        volume:
          nocopy: true
      - <<: *common-dir-work
    ports:
      - "${DOCKER_WEB_NETWORK_PORT}:80"
      - "${DOCKER_WEB_VITE_NETWORK_PORT}:5173"
    depends_on:
      - php
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_WEB_NETWORK_IP_ADDRESS}

  database:
    container_name: ${APP_NAME}_database
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/database/Dockerfile
    restart: unless-stopped
    tty: true
    volumes:
      - type: volume
        source: db_volume
        target: /var/lib/mysql
        volume:
          nocopy: true
    environment:
      - MYSQL_TCP_PORT=${DB_PORT}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306" # Host ${DB_PORT} → Container 3306
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_DATABASE_NETWORK_IP_ADDRESS}

  phpmyadmin:
    container_name: ${APP_NAME}_phpmyadmin
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/phpmyadmin/Dockerfile
    environment:
      - PMA_PMADB=phpmyadmin
      - PMA_HOST=${DB_HOST}
      - PMA_PORT=${DB_PORT}
      - PMA_USER=${DB_USERNAME}
      - PMA_PASSWORD=${DB_PASSWORD}
      - MYSQL_TCP_PORT=${DB_PORT}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
    restart: always
    depends_on:
      - database
    ports:
      - "${DOCKER_PHPMYADMIN_NETWORK_PORT}:80"
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_PHPMYADMIN_NETWORK_IP_ADDRESS}

  mailhog:
    container_name: ${APP_NAME}_mailhog
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/mailhog/Dockerfile
    restart: unless-stopped
    tty: true
    ports:
      - "${MAIL_PORT}:1025"                   # Host ${MAIL_PORT} → Container 1025
      - "${DOCKER_MAILHOG_NETWORK_PORT}:8025" # Host ${DOCKER_MAILHOG_NETWORK_PORT} → Container 8025
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_MAILHOG_NETWORK_IP_ADDRESS}

  redis:
    container_name: ${APP_NAME}_redis
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/redis/Dockerfile
    restart: unless-stopped
    tty: true
    command: >
      redis-server
      --port ${REDIS_PORT}
      --requirepass ${REDIS_PASSWORD}
    volumes:
      - type: volume
        source: redis_volume
        target: /data
        volume:
          nocopy: true
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}" # Host ${REDIS_PORT} → Container ${REDIS_PORT}
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_REDIS_NETWORK_IP_ADDRESS}

  selenium:
    container_name: ${APP_NAME}_selenium
    build:
      <<: *common-build
      dockerfile: ${DOCKER_SERVICES_PATH}/selenium/Dockerfile
    restart: unless-stopped
    ports:
      - "${DOCKER_SELENIUM_HUB_NETWORK_PORT}:4444"
      - "${DOCKER_SELENIUM_PREVIEW_NETWORK_PORT}:5900"
    volumes:
      - /dev/shm:/dev/shm
    networks:
      backend_docker:
        ipv4_address: ${DOCKER_SELENIUM_NETWORK_IP_ADDRESS}

# ----------------------------------------------------------------------------------
# Network Configuration
# ----------------------------------------------------------------------------------
networks:
  backend_docker:
    name: backend_docker
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${DOCKER_NETWORK_SUBNET}
